@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
}
.login-title {
  color: white;
  font-family: 'Oswald', sans-serif !important;
}
.activate-button {
  position: relative;
  background: orange;
  border: none;
  color: white;
  padding: 8px 15px;
  width: 130px;
  cursor: pointer;
  margin: 4px 0;
  box-shadow: 0 0 15px white;
  transition: ease 1s;
  font-size: 15px;
  border-radius: 8px;
  transition: ease 1s;
}
.activate-button:disabled {
  background: gray;
  transform: scale(1.0) !important;
  opacity: .3;
  transition: ease 1s;
  cursor: default;
}
.activate-button:active {
  box-shadow: 0 0 30px white;
  transition: ease .3s;
}
.activate-button:hover {
  transform: scale(.9);
  box-shadow: 0 0 20px 10px white;
  transition: ease 1s;
  border-radius: 10px;
}
.develop-link {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 17px;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  transition: ease 1s;
}
.develop-link:hover {
  color: rgb(158, 154, 154);
  opacity: .6;
  transition: ease 1s;
  text-decoration-color: rgb(158, 154, 154);
}