.btn-user {
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px white;
  transition: ease 1s;
  margin: 5px;
}
.btn-user:disabled {
  background: gray !important;
  opacity: .7;
  transition: ease 1s;
  box-shadow: none !important;
}
.btn-user:hover {
  box-shadow: 0 0 5px black;
  transition: ease 1s;
}
.btn-user:active {
  transform: scale(.9);
  box-shadow: 0 0 10px black;
  transition: ease .3s;
}
.comment-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: -webkit-radial-gradient(50%, rgb(82, 188, 250), rgb(25, 137, 234));
}
.del {
  background: -webkit-radial-gradient(50%, rgb(248, 161, 161), rgb(237, 50, 50));
}
.update {
  background: -webkit-radial-gradient(50%, rgb(231, 196, 108), rgb(237, 178, 50));
}
.right {
  position: relative;
  right: 30px;
}
.back {
  position: absolute;
  top: 5px;
  left: 5px;
  background: -webkit-radial-gradient(50%, rgb(126, 223, 129), rgb(8, 141, 37));
}
.right-40 {
  position: absolute;
  right: 40px;
}
.exit {
  position: absolute;
  right: 5px;
  top: 5px;
  background: -webkit-radial-gradient(50%, rgb(241, 162, 149), rgb(239, 90, 26));
}
@media (max-width: 500px) {
  .back {
    position: relative;
    left: 5px;
    top: 5px;
  }
  .exit {

  }
}