.main {
  width: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-button {
  border: none;
  border-radius: 10px;
  background: orange;
  color: white;
}
.loader-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}