.gallery-item {
  width: 300px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 2s;
  cursor: pointer;
}
.gallery-item {
  margin: 10px;
}
.gallery-item.clicked {
  width: 500px;
  height: 20%;
}
.gallery-spinner {
  width: 40px;
  height: 40px;
}
.gallery-img {
  width: 100%;
  height: 100%;
}