@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.user-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.user-form.add-user {
  justify-content: center;
}
.add-title {
  padding: 10px 0;
  font-size: 18px;
  color: white;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-family: 'Oswald', sans-serif !important;
}
.p-user {
  margin: auto 0; 
  font-weight: bold; 
  opacity: .8; 
}
.add-btn {
  margin-left: 30px;
}
.box-input.add-user {
  width: 30%;
  text-align: center;
  right: 30px;
}
.box-input.add-user::placeholder {
  text-align: center;
}
.role-select {
  width: 150px;
  color: white;
  left: 15px;
}
option {
  background: rgb(215, 214, 214);
  opacity: .4;
  border-radius: 10px !important;
  border: none !important;
  color: rgb(14, 14, 14);
}
.option {
  position: relative;
  z-index: 2;
  background: orange !;
}
.select-back {
  width: 180px;
}
@media (max-width: 600px) {
  .box-input.add-user {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin: 0 10px;
  }
  .box-with-naming {
    width: 100%;
  }
}