.user-p {
  position: relative;
  z-index: 1;
}
.box-p {
  position: relative;
  border-radius: 15px;
  padding: 5px 10px;
  border-radius: 15px;
  color: rgb(30, 27, 27);
}
.back-p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  border-radius: 15px;
}