* {
  margin: 0;
  padding: 0;
}
body {
  /* min-width: 100vw; */
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgb(55, 191, 229), rgb(56, 222, 222));
}